doctype html

html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
        meta(http-equiv='x-ua-compatible', content='IE=edge')
        block title
        block meta
        link(rel='stylesheet', type='text/css', href='/css/app.min.css')
        block stylesheets
        block header
    body
        block content
        script(type='application/javascript', src='/js/app.min.js', async)
        block scripts