extends ./_layouts/default.pug

block title
    title Not Authorized

block content
    div.container
        div.row.my-5
            div.col
                h1 Not Authorized
                p This page requires heightened permissions that you do not possess. You might have followed a bad link or mistyped the address, feel free to try again. Alternatively, you can return to the <a href="/">home page</a>, or visit the help page for more options.