extends ./_layouts/default.pug

block title
	title Page Not Found

block content
	div.container
		div.row.my-5
			div.col
				h1 This page is missing.
				p I have no idea where it went. You might have followed a bad link or mistyped the address, feel free to try again. Alternatively, you can return to the home page, or visit the help page for more options.