extends ./_layouts/default.pug

block title
    title An error occurred

block content
    div.container
        div.row.my-5
            div.col
                h1 An error occurred
                p This page has an error on it. You might have followed a bad link or mistyped the address, feel free to try again. Alternatively, you can return to the <a href="/">home page</a>, or visit the help page for more options.
