extends ./_layouts/default.pug

block title
    title Hello World

block content
    div.container

        div.row.my-3
            div.col

                div.jumbotron
                    h1.display-4 Hello, world!
                    p.lead This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
                    hr.my-4
                    p It uses utility classes for typography and spacing to space content out within the larger container.
                    p.lead
                        a.btn.btn-primary.btn-lg(href='#' role='button') Learn more

                img.img-fluid.mx-auto.d-block.rounded.my-5(src='/img/stock-photo.jpg', alt='Stock Photo')
                h1 Hello World
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mollis iaculis tempor. Aliquam erat volutpat. Duis ante orci, faucibus id sollicitudin et, aliquet in urna. Etiam nec massa quis ligula euismod mattis. Duis sit amet tellus vulputate, volutpat ligula nec, faucibus tellus. Mauris augue metus, molestie vel nunc quis, dignissim faucibus mi. Vivamus auctor, orci eu hendrerit ullamcorper, eros nunc rutrum lectus, vel vulputate nisl ligula vel leo. Sed feugiat, mi eu rutrum fringilla, mauris ante facilisis nulla, id molestie justo erat in neque.

        div.row.my-3
            div.col
                div.table-responsive
                    table.table.table-striped.table-bordered
                        thead
                            tr
                                th(scope='col') #
                                th(scope='col') Title
                                th(scope='col') Description
                                th(scope='col') Url
                        tbody
                            each card in cards
                                tr
                                    th(scope='row')=card.id
                                    td=card.title
                                    td=card.description
                                    td
                                        a(href=card.url)=card.url

        div.row
            div.col
                p Curabitur in justo eros. Maecenas mattis purus id ligula porttitor sodales. Nam vestibulum dui molestie finibus feugiat. Maecenas purus eros, posuere ac molestie posuere, facilisis sit amet urna. Maecenas gravida, lacus at elementum hendrerit, urna purus ultrices mauris, at fermentum turpis tortor a tellus. Curabitur vitae neque arcu. Vestibulum in facilisis nisl. Sed placerat volutpat mi et ornare. Cras eget felis sed diam volutpat elementum. Nunc vehicula dolor elit, eu mattis sapien blandit ac. Fusce id consectetur turpis. Morbi convallis tempus sapien nec ultrices. Pellentesque in neque non mauris volutpat consequat.

        div.row.my-3
            each card in cards
                div.col-md-4
                    div.card
                        img.card-img-top(src=card.image alt=card.title)
                        div.card-body
                            h5.card-title=card.title
                            p.card-text=card.description
                            a.btn.btn-primary(href=card.url) View More


        div.row.my-3
            div.col
                p Vestibulum pretium, odio eget fermentum mattis, nibh turpis lobortis nunc, eget fermentum nunc augue a ligula. Morbi blandit, quam quis venenatis auctor, lectus ipsum interdum dolor, non consectetur nunc elit in leo. Donec dapibus mi erat, in eleifend nulla blandit et. Morbi mollis metus sed neque scelerisque, ac rutrum velit dictum. Sed posuere leo vel lectus euismod tincidunt. Nulla bibendum elementum varius. Quisque at hendrerit urna. Suspendisse lobortis pretium neque, mollis hendrerit nisi ullamcorper vel. Nunc a nulla congue, euismod eros eu, aliquet nunc. Phasellus hendrerit ut ipsum vel posuere. Pellentesque volutpat commodo nisl, et mollis erat tempor nec. Nunc suscipit id mi eu facilisis. Pellentesque elementum hendrerit accumsan. Fusce volutpat urna sit amet luctus rutrum. Phasellus molestie lacus id purus vehicula convallis.
                p Donec eu condimentum tortor. Cras sagittis posuere sem, sit amet rhoncus dui tristique nec. Nulla lorem purus, aliquam nec accumsan eu, faucibus nec enim. Maecenas placerat sem eget leo auctor malesuada. Maecenas rutrum, elit a pulvinar volutpat, massa ex tempus urna, at molestie orci lacus et dui. Fusce luctus est sed ipsum tempus, id interdum leo scelerisque. Phasellus dictum euismod mauris, ornare semper odio tincidunt nec. Ut in aliquet ligula. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id massa cursus, porta elit eget, ornare orci. Integer dignissim ex non dui feugiat, eu finibus felis pulvinar. Fusce eget malesuada lectus. Praesent at mauris condimentum, iaculis nibh id, sollicitudin lacus. Pellentesque magna massa, pretium sed dictum et, varius non libero. Vestibulum volutpat, lacus sagittis tincidunt ornare, est tortor eleifend quam, egestas scelerisque dui metus nec purus. Cras id suscipit lorem.
                p Sed sollicitudin nisl eget metus tincidunt blandit porttitor a tellus. Integer vel tristique leo, a ultrices massa. Phasellus tortor nisl, maximus ac tincidunt nec, rhoncus quis odio. Phasellus molestie eu lorem vel ultrices. Nunc in ante purus. Quisque in varius nisl. Nunc hendrerit nibh a convallis blandit. Donec imperdiet metus tempus pulvinar pharetra.